.werde-slider-section-main {
    width: 100%;
    margin: 102px 0 220px 0;

    .werde-slider-main {
        width: 100%;

        .slick-arrow {
            display: none !important;
        }
    }
}