.deshalb-section-main {
    margin: 100px 0 100px 0;

    .deshalb-container {
        max-width: 100%;
        padding: 0 15px;
    }

    .deshalb-grid-main {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        align-items: start;

        @media (max-width: 950px) {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            gap: 30px;
        }

        @media (max-width: 768px) {
            gap: 20px;
        }

        @media (max-width: 480px) {
            gap: 15px;
        }

        .deshalb-grid-items-one {
            text-align: left;

            h1 {
                font-family: "Montaga", serif;
                font-size: 50px;
                line-height: 1.2;
                text-align: left;
            }

            @media (max-width: 768px) {
                h1 {
                    font-size: 40px;
                }
            }

            @media (max-width: 480px) {
                h1 {
                    font-size: 32px;
                }
            }

            .mutuals-bordered-div-main {
                display: flex;
                justify-content: start;
                align-items: center;
                position: relative;

                .mutualsborderonelogo {
                    position: absolute;
                    top: 50%;
                    left: 50%;
                    transform: translate(-50%, -50%);

                    span {
                        font-size: 90px;
                    }

                    @media (max-width: 768px) {
                        span {
                            font-size: 70px;
                        }
                    }

                    @media (max-width: 480px) {
                        span {
                            font-size: 50px;
                        }
                    }
                }
            }
        }

        .deshalb-grid-items-two {
            text-align: left;

            .das-slide-div-main {
                width: fit-content;
                margin: 0;

                @media (max-width:950px) {
                    margin: 0 auto;
                }

                ::-webkit-scrollbar {
                    width: 5px;
                }

                ::-webkit-scrollbar-track {
                    background: #EBEBEE;
                    border-radius: 5px;
                    cursor: pointer;
                }

                ::-webkit-scrollbar-thumb {
                    cursor: pointer;
                    border-radius: 5px;
                    background: #6B66DA;
                }

                .das-titles-div-main {
                    height: 160px;
                    padding: 20px 0 20px 20px;
                    overflow-x: hidden;
                    overflow-y: auto;
                    direction: rtl;
                    outline: none !important;

                    h2 {
                        font-family: 'Helvetica', 'Arial', sans-serif;
                        font-size: 28px;
                        padding: 0 0 15px 0;
                    }

                    @media (max-width: 768px) {
                        h2 {
                            font-size: 24px;
                        }
                    }

                    @media (max-width: 480px) {
                        h2 {
                            font-size: 20px;
                        }
                    }
                }
            }

            .deshalb-grid-items-two-peragraph {
                padding: 30px 0 0 15px;

                p {
                    font-size: 18px;
                    line-height: 1.5;
                    max-width: 100%;
                }

                @media (max-width: 768px) {
                    p {
                        font-size: 16px;
                    }
                }

                @media (max-width: 480px) {
                    p {
                        font-size: 14px;
                    }
                }
            }
        }
    }
}