.deshalb-section-main {
    margin: 125px 0 122px 0;

    .deshalb-container {
        max-width: 1190px;
        margin: 0 auto;
        padding: 0 20px;
    }

    .deshalb-grid-main {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        align-items: start;

        .deshalb-grid-items-one {
            text-align: left;

            h1 {
                font-family: "Montaga", serif;
                font-size: 60px;
                font-weight: 400;
                line-height: 62.5px;
                letter-spacing: 0.02em;
                text-align: left;
                color: #000;
            }

            .mutuals-bordered-div-main {
                display: flex;
                justify-content: start;
                align-items: center;
                position: relative;

                .mutualsborderonelogo {
                    position: absolute;
                    top: 54%;
                    left: 44%;
                    transform: translate(-50%, -50%);

                    span {
                        font-size: 110px;
                        font-weight: 500;
                        line-height: normal;
                        font-family: 'Golden Plains - Demo', sans-serif;
                        color: #F3363C;
                    }
                }
            }
        }

        .deshalb-grid-items-two {
            text-align: left;

            .das-slide-div-main {
                ::-webkit-scrollbar {
                    width: 5px;
                }

                ::-webkit-scrollbar-track {
                    background: #EBEBEE;
                    border-radius: 5px;
                    cursor: pointer;
                }

                ::-webkit-scrollbar-thumb {
                    cursor: pointer;
                    border-radius: 5px;
                    background: #6B66DA;
                }

                .das-titles-div-main {
                    height: 190px;
                    box-sizing: border-box;
                    padding: 23px 0 23px 29px;
                    overflow-x: hidden;
                    overflow-y: auto;
                    direction: rtl;
                    outline: none !important;

                    :first-child {
                        color: #6B66DA;
                    }

                    h2 {
                        font-family: 'Helvetica', 'Arial', sans-serif;
                        font-size: 32px;
                        font-weight: 700;
                        line-height: normal;
                        letter-spacing: 0.02em;
                        text-align: left;
                        color: #000;
                        padding: 0 0 17px 0;
                        direction: ltr;
                    }
                }
            }

            .deshalb-grid-items-two-peragraph {
                padding: 42px 0 0 21px;

                p {
                    font-family: "Heebo", sans-serif;
                    font-size: 20px;
                    font-weight: 300;
                    line-height: 25.78px;
                    text-align: left;
                    color: #000;
                    max-width: 413px;
                }
            }
        }
    }
}