.deshalb-section-main {
    margin: 100px 0 100px 0;

    .deshalb-container {
        max-width: 1190px;
        margin: 0 auto;
        padding: 0 20px;
    }

    .deshalb-grid-main {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        align-items: start;

        @media (max-width: 950px) {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            gap: 30px;
        }

        @media (max-width: 768px) {
            gap: 20px;
        }

        @media (max-width: 480px) {
            gap: 15px;
        }

        .deshalb-grid-items-one {
            text-align: left;

            h1 {
                font-family: "Montaga", serif;
                font-size: 60px;
                font-weight: 400;
                line-height: 62.5px;
                letter-spacing: 0.02em;
                text-align: left;
                color: #000;
            }

            @media (max-width: 768px) {
                h1 {
                    font-size: 40px;
                }
            }

            @media (max-width: 480px) {
                h1 {
                    font-size: 32px;
                }
            }

            .mutuals-bordered-div-main {
                display: flex;
                justify-content: start;
                align-items: center;
                position: relative;

                .mutualsborderonelogo {
                    position: absolute;
                    top: 54%;
                    left: 44%;
                    transform: translate(-50%, -50%);

                    span {
                        font-size: 110px;
                        font-weight: 500;
                        line-height: normal;
                        font-family: 'Golden Plains - Demo', sans-serif;
                        color: #F3363C;
                    }

                    @media (max-width: 768px) {
                        span {
                            font-size: 70px;
                        }
                    }

                    @media (max-width: 480px) {
                        span {
                            font-size: 50px;
                        }
                    }
                }
            }
        }

        .deshalb-grid-items-two {
            text-align: left;

            .das-slide-div-main {
                width: fit-content;
                margin: 0;

                @media (max-width:950px) {
                    margin: 0 auto;
                }

                ::-webkit-scrollbar {
                    width: 5px;
                }

                ::-webkit-scrollbar-track {
                    background: #EBEBEE;
                    border-radius: 5px;
                    cursor: pointer;
                }

                ::-webkit-scrollbar-thumb {
                    cursor: pointer;
                    border-radius: 5px;
                    background: #6B66DA;
                }

                .das-titles-div-main {
                    height: 190px;
                    box-sizing: border-box;
                    padding: 23px 0 23px 29px;
                    overflow-x: hidden;
                    overflow-y: auto;
                    direction: rtl;
                    outline: none !important;

                    :first-child {
                        color: #6B66DA;
                    }

                    h2 {
                        font-family: 'Helvetica', 'Arial', sans-serif;
                        font-size: 32px;
                        font-weight: 700;
                        line-height: normal;
                        letter-spacing: 0.02em;
                        text-align: left;
                        color: #000;
                        padding: 0 0 17px 0;
                        direction: ltr;
                    }

                    @media (max-width: 768px) {
                        h2 {
                            font-size: 24px;
                        }
                    }

                    @media (max-width: 480px) {
                        h2 {
                            font-size: 20px;
                        }
                    }
                }
            }

            .deshalb-grid-items-two-peragraph {
                padding: 42px 0 0 21px;

                p {
                    font-family: "Heebo", sans-serif;
                    font-size: 20px;
                    font-weight: 300;
                    line-height: 25.78px;
                    text-align: left;
                    color: #000;
                    max-width: 413px;
                }

                @media (max-width: 768px) {
                    p {
                        font-size: 16px;
                    }
                }

                @media (max-width: 480px) {
                    p {
                        font-size: 14px;
                    }
                }
            }
        }
    }
}