.herobanner {
    width: 100%;
    height: 100%;
    position: relative;
    background: linear-gradient(90deg, #1A1822 50%, #F3363C 50%);

    .herobanner-content {
        box-sizing: border-box;
        width: 100%;
        height: 100%;
        color: #FFF;
        padding: 71px 0 0 0;

        .herobanner-container {
            max-width: 1244px;
            margin: 0 auto;
            padding: 0 20px;

            .herobanner-title-main {
                display: flex;
                justify-content: start;
                align-items: center;

                h1 {
                    font-family: "Montaga", serif;
                    font-size: 96px;
                    font-weight: 400;
                    line-height: 109.5px;
                    text-align: right;
                    color: #FFF;

                    span {
                        color: #000;
                        margin: 0 0 0 45px;
                    }

                    svg {
                        margin: 10px 0 0 86px;
                    }

                    p {
                        display: flex;
                        justify-content: end;
                        align-items: center;
                        font-family: "Montaga", serif;
                        font-size: 96px;
                        font-weight: 400;
                        line-height: 109.5px;
                        text-align: right;
                        color: #FFF;
                    }
                }
            }

            .herobanner-mobile-image-main {
                display: flex;
                justify-content: center;
                align-items: center;
                margin: 0 0 0 19px;

                img {
                    margin: 0 0 -100px 0;
                    display: block;
                }
            }
        }
    }

    .social-media-frame {
        position: fixed;
        top: 50%;
        left: 34px;
        z-index: 9;
        transform: translateY(-50%);
        border-radius: 40px;
        background-color: #F3363C;
        box-shadow: 0px 4px 10px 0px #0000001A;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 20px;
        padding: 21px 11px;

        span {
            height: 1px;
            width: 13px;
            background-color: #000;
        }
    }
}