.herobanner {
    width: 100%;
    height: 100%;
    position: relative;
    background: linear-gradient(90deg, #1A1822 50%, #F3363C 50%);
    margin: -2px 0 0 0;

    .herobanner-content {
        box-sizing: border-box;
        width: 100%;
        height: 100%;
        color: #FFF;
        padding: 71px 0 0 0;

        .herobanner-container {
            max-width: 1244px;
            margin: 0 auto;
            padding: 0 20px;

            .herobanner-title-main {
                display: flex;
                justify-content: start;
                align-items: center;
                margin: 0 0 0 2.5%;

                @media (max-width:950px) {
                    margin: 0 0 0 16%;
                }

                h1 {
                    font-family: "Montaga", serif;
                    font-size: 96px;
                    font-weight: 400;
                    line-height: 109.5px;
                    text-align: right;
                    color: #FFF;

                    @media (max-width:1024px) {
                        font-size: 50px;
                    }

                    span {
                        color: #000;
                        margin: 0;

                        // @media (max-width:950px) {
                        //     margin: 0 0 0 10px;
                        // }
                    }

                    p {
                        display: flex;
                        justify-content: end;
                        align-items: start;
                        font-family: "Montaga", serif;
                        font-size: 96px;
                        font-weight: 400;
                        line-height: 109.5px;
                        text-align: right;
                        color: #FFF;

                        @media (max-width:1024px) {
                            font-size: 50px;
                        }

                        span {
                            margin: 2% 0 0 5% !important;
                            color: #FFF !important;
                            font-family: 'Golden Plains - Demo', sans-serif;

                            @media (max-width:1024px) {
                                font-size: 50px;
                                margin: 10px 2% 0 4% !important;
                            }
                        }
                    }
                }
            }

            .herobanner-mobile-image-main {
                display: flex;
                justify-content: center;
                align-items: center;
                margin: 0 0 0 2%;

                img {
                    margin: 0 0 -8% 0;
                    display: block;
                }
            }
        }
    }

    .social-media-frame {
        position: fixed;
        top: 50%;
        left: 34px;
        z-index: 9;
        transform: translateY(-50%);
        border-radius: 40px;
        background-color: #F3363C;
        box-shadow: 0px 4px 10px 0px #0000001A;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 20px;
        padding: 21px 11px;

        span {
            height: 1px;
            width: 13px;
            background-color: #000;
        }
    }
}