header {
    width: 100%;
    box-sizing: border-box;
    padding: 6.9% 0 0 0;
    font-family: 'Helvetica', 'Arial', sans-serif;
    font-family: 'Golden Plains - Demo', sans-serif;
    background-color: transparent;
    background: linear-gradient(90deg, #1A1822 50%, #F3363C 50%);

    .header-container {
        max-width: 1600px;
        margin: 0 auto;
        padding: 0 20px;

        .header-main-alignment {
            display: flex;
            justify-content: space-between;
            align-items: center;
            gap: 0;

            .header-logo-main {
                display: flex;
                justify-content: center;
                align-items: center;

                a {
                    text-decoration-line: none;

                    h1 {
                        letter-spacing: 2px;
                        color: #FFF;
                        line-height: normal;
                        font-weight: 400;
                        font-size: 46px;
                        font-family: 'Golden Plains - Demo', sans-serif;

                        @media (max-width:1200px) {
                            font-size: 45px;
                        }
                    }
                }
            }

            .header-content-main-alignment {
                display: flex;
                justify-content: end;
                align-items: center;
                gap: 20px;
            }

            .header-content-main-one {
                display: flex;
                justify-content: space-between;
                align-items: center;
                gap: 20px;
                padding: 11px 15px;

                @media (max-width:1100px) {
                    gap: 10px;
                }

                @media (max-width:1024px) {
                    display: none;
                }

                .teil-button {
                    // background-color: #1A1822;
                    border-radius: 20px;

                    button {
                        cursor: pointer;
                        background-color: #AEAEAE1A;
                        border: none;
                        border-radius: 20px;
                        padding: 11px 15px;
                        display: flex;
                        justify-content: center;
                        align-items: center;
                        gap: 5px;
                        outline: none;

                        &:focus {
                            outline: none;
                        }

                        p {
                            font-family: 'Helvetica', 'Arial', sans-serif;
                            font-size: 16px;
                            font-weight: 700;
                            line-height: 16.5px;
                            letter-spacing: 0.02em;
                            text-align: center;
                            color: #FFF;

                            @media (max-width:1200px) {
                                font-size: 13px;
                            }
                        }
                    }
                }

                a {
                    font-family: 'Helvetica', 'Arial', sans-serif;
                    font-size: 16px;
                    font-weight: 700;
                    line-height: 16.5px;
                    letter-spacing: 0.02em;
                    text-align: center;
                    color: #FFF;
                    text-decoration-line: none;

                    @media (max-width:1200px) {
                        font-size: 13px;
                    }
                }
            }

            .header-content-main-two {
                display: flex;
                justify-content: end;
                align-items: center;
                gap: 20px;

                .mutuals-button {
                    display: block;
                    border-radius: 20px;
                    // background-color: #F3363C;

                    @media (max-width:1024px) {
                        display: none;
                    }


                    button {
                        cursor: pointer;
                        background-color: #FFFFFF1A;
                        border: none;
                        border-radius: 20px;
                        padding: 11px 15px;
                        display: flex;
                        justify-content: center;
                        align-items: center;
                        gap: 5px;
                        outline: none;

                        &:focus {
                            outline: none;
                        }

                        p {
                            font-family: 'Helvetica', 'Arial', sans-serif;
                            font-size: 16px;
                            font-weight: 700;
                            line-height: 16.5px;
                            letter-spacing: 0.02em;
                            text-align: center;
                            color: #FFF;

                            span {
                                font-family: 'Golden Plains - Demo', sans-serif;
                                font-weight: 400;
                                text-align: center;
                            }

                            @media (max-width:1200px) {
                                font-size: 13px;
                            }
                        }
                    }
                }

                a {
                    text-decoration-line: none;
                }

                // .language-button {

                //     button {
                //         padding: 3px 3px;
                //         display: flex;
                //         justify-content: center;
                //         align-items: center;
                //         gap: 6px;
                //         background: #FFFFFF;
                //         border-radius: 15px;
                //         border: none;
                //         outline: none;

                //         &:focus {
                //             outline: none;
                //         }

                //         p {
                //             cursor: pointer;
                //             background-color: transparent;
                //             border-radius: 50%;
                //             display: flex;
                //             justify-content: center;
                //             align-items: center;
                //             width: 24px;
                //             height: 24px;

                //             span {
                //                 font-family: 'Helvetica', 'Arial', sans-serif;
                //                 font-size: 10px;
                //                 font-weight: 700;
                //                 line-height: 9.5px;
                //                 letter-spacing: 0.02em;
                //                 text-align: center;
                //                 color: #7E7E7E;
                //             }
                //         }

                //         #Checked {
                //             background-color: #F3363C !important;

                //             span {
                //                 color: #FFF !important;
                //             }
                //         }
                //     }
                // }

                .language-button {
                    button {
                        padding: 3px 3px;
                        display: flex;
                        justify-content: center;
                        align-items: center;
                        gap: 6px;
                        background: #FFFFFF;
                        border-radius: 15px;
                        border: none;
                        outline: none;

                        &:focus {
                            outline: none;
                        }

                        p {
                            cursor: pointer;
                            background-color: transparent;
                            border-radius: 50%;
                            display: flex;
                            justify-content: center;
                            align-items: center;
                            width: 24px;
                            height: 24px;
                            transition: transform 0.3s ease, background-color 0.3s ease;

                            span {
                                font-family: 'Helvetica', 'Arial', sans-serif;
                                font-size: 10px;
                                font-weight: 700;
                                line-height: 9.5px;
                                letter-spacing: 0.02em;
                                text-align: center;
                                color: #7E7E7E;
                                transition: color 0.3s ease;
                            }
                        }

                        #Checked {
                            background-color: #F3363C !important;

                            span {
                                color: #FFF !important;
                            }
                        }
                    }
                }



                .header-sidebar-image {
                    display: none;

                    @media (max-width:1024px) {
                        display: flex;
                        justify-content: center;
                        align-items: center;
                    }

                    img {
                        width: 25px;
                        height: 25px;
                    }
                }
            }
        }
    }
}