header {
    width: 100%;
    box-sizing: border-box;
    padding: 4vw 0 0 0;
    font-family: 'Helvetica', 'Arial', sans-serif;
    font-family: 'Golden Plains - Demo', sans-serif;
    background-color: transparent;
    background: linear-gradient(90deg, #1A1822 50%, #F3363C 50%);

    a {
        text-decoration-line: none;
    }

    .header-container {
        max-width: 85vw;
        margin: 0 auto;
        padding: 0 2vw;

        .header-main-alignment {
            display: flex;
            justify-content: space-between;
            align-items: center;
            gap: 1vw;

            .header-logo-main {
                display: flex;
                justify-content: center;
                align-items: center;

                a {
                    text-decoration-line: none;

                    img {
                        width: 10vw;
                        height: 2.5vw;
                    }
                }
            }

            .header-content-main-alignment {
                display: flex;
                justify-content: end;
                align-items: center;
                gap: 1.5vw;
            }

            .header-content-main-one {
                display: flex;
                justify-content: space-between;
                align-items: center;
                gap: 1.5vw;
                padding: 0.5vw 1vw;

                .teil-button {
                    border-radius: 1vw;

                    button {
                        cursor: pointer;
                        background-color: #AEAEAE1A;
                        border: none;
                        border-radius: 1vw;
                        padding: 0.5vw 1vw;
                        display: flex;
                        justify-content: center;
                        align-items: center;
                        gap: 0.5vw;
                        outline: none;

                        &:focus {
                            outline: none;
                        }

                        p {
                            font-family: 'Helvetica', 'Arial', sans-serif;
                            font-size: 0.8vw;
                            font-weight: 700;
                            line-height: 1vw;
                            letter-spacing: 0.02em;
                            text-align: center;
                            color: #FFF;
                        }
                    }
                }

                a {
                    font-family: 'Helvetica', 'Arial', sans-serif;
                    font-size: 0.8vw;
                    font-weight: 700;
                    line-height: 1vw;
                    letter-spacing: 0.02em;
                    text-align: center;
                    color: #FFF;
                    text-decoration-line: none;
                }
            }

            .header-content-main-two {
                display: flex;
                justify-content: end;
                align-items: center;
                gap: 1.5vw;

                .mutuals-button {
                    border-radius: 1vw;

                    button {
                        cursor: pointer;
                        background-color: #FFFFFF1A;
                        border: none;
                        border-radius: 1vw;
                        padding: 0.5vw 1vw;
                        display: flex;
                        justify-content: center;
                        align-items: center;
                        gap: 0.5vw;
                        outline: none;

                        &:focus {
                            outline: none;
                        }

                        p {
                            font-family: 'Helvetica', 'Arial', sans-serif;
                            font-size: 0.8vw;
                            font-weight: 700;
                            line-height: 1vw;
                            letter-spacing: 0.02em;
                            text-align: center;
                            color: #FFF;

                            span {
                                font-family: 'Golden Plains - Demo', sans-serif;
                                font-weight: 400;
                                text-align: center;
                            }
                        }
                    }
                }

                .language-button {
                    button {
                        padding: 0.2vw;
                        display: flex;
                        justify-content: center;
                        align-items: center;
                        gap: 0.3vw;
                        background: #FFFFFF;
                        border-radius: 1vw;
                        border: none;
                        outline: none;

                        &:focus {
                            outline: none;
                        }

                        p {
                            cursor: pointer;
                            background-color: transparent;
                            border-radius: 50%;
                            display: flex;
                            justify-content: center;
                            align-items: center;
                            width: 1.5vw;
                            height: 1.5vw;

                            span {
                                font-family: 'Helvetica', 'Arial', sans-serif;
                                font-size: 0.5vw;
                                font-weight: 700;
                                line-height: 0.6vw;
                                letter-spacing: 0.02em;
                                text-align: center;
                                color: #7E7E7E;
                            }
                        }

                        #Checked {
                            background-color: #F3363C !important;

                            span {
                                color: #FFF !important;
                            }
                        }
                    }
                }
            }
        }
    }
}