.mobile-section {
    margin: 100px 0 170px 0;

    .mobile-container {
        padding-left: max(0px, (100vw - 1180px) / 2);

        .mobile-div {
            padding-left: 20px;
            display: grid;
            grid-template-columns: 32% 1fr;
            align-items: center;

            .mobile-div-content {
                p {
                    font-size: 34px;
                    font-weight: 400;
                    line-height: 60px;

                    &:last-of-type {
                        padding-bottom: 34px;
                        line-height: 54px;
                    }
                }

                h2 {
                    margin: 10px 0;
                    font-family: "Helvetica", "Arial", sans-serif;
                    font-size: 76px;
                    font-weight: 700;
                    line-height: 60px;
                    color: #f3363c;
                }

                img {
                    margin: 30px 0;
                    max-width: 217px;
                }

                button {
                    padding: 15px;
                    width: 100%;
                    border: none;
                    border-radius: 5px;
                    background-color: #f3363c;
                    font-family: Inter;
                    font-family: "Inter", sans-serif;
                    font-size: 20px;
                    font-weight: 700;
                    line-height: 24.2px;
                    color: #fff;
                }
            }

            .mobile-div-image {
                img {
                    width: 100%;
                }
            }
        }
    }
}
